table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

th:nth-child(1){
    text-align: left;
}

th:nth-child(4){
    text-align: right;
}

tr:nth-child(odd){
    background-color: blue;
}

tr:nth-child(even){
    background-color:rgb(243, 243, 0);
}

tr:nth-child(1){
    background-color: aquamarine;
    font-weight: 800;
}

th{
    width: 140px;
    padding: 4px;
}

caption{
    caption-side: bottom;
    padding: 10px;
    font-size: 23px;
}

th{
    font-family: arial;
    font-weight: lighter;

}

table{
    margin: auto;
}




